# APP
APP_NAME='duplicate-remover-csv'
APP_TIMEZONE='Asia/Dhaka'

# LOG
LOG_LEVEL=debug
LOG_LOCATION=/usr/src/app/logs/app.log
LOG_MAX_KEEP=7d
LOG_MAX_SIZE=100m

# SFTP
SFTP_HOST=0.0.0.0
SFTP_PORT=22
SFTP_USER=foo
SFTP_PASSWORD=pass
SFTP_READY_TIMEOUT=5000
SFTP_RETRY_COUNT=3
SFTP_DIRNAME=

# MinIO configs
MINIO_HOST=http://localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=access-key
MINIO_SECRET_KEY=secret-key
MINIO_REGION=us-east-1
MINIO_UPLOAD_BUCKET_NAME=demobucket
MINIO_UPLOAD_BUCKET_PREFIX=bucketprefix

# LOCAL
LOCAL_TMP_DIR='./tmp'
LOCAL_UPLOAD_DIR='./upload'